/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* ENCABEZADO */
header {
  /* background-image: url(../multimedia/dark-honeycomb.png); */
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  header .logoTitulo {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    header .logoTitulo h1 {
      font-family: 'Stardos Stencil', cursive;
      color: #bdc3c7;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      font-size: 4.5vw; }
    header .logoTitulo #logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 10px 0 0 10px; }
  header .navbar-toggler {
    margin-left: 10px; }

/* FOOTER */
footer {
  color: white;
  background-color: dimgray;
  height: 35px; }
  footer p {
    font-size: 0.8rem;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 5px 5px 0; }
  footer a {
    display: inline-block;
    margin-top: 5px; }
  footer .wsp {
    height: 10px;
    width: 10px; }

/* PAGINA INDEX */
.contieneImagen {
  padding: 0; }

.ofertas {
  background-color: black;
  margin: 3px;
  padding: 8px; }
  .ofertas h2 {
    color: #bdc3c7;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase; }
  .ofertas p {
    text-align: justify; }
  .ofertas .boton-ofertas {
    color: white;
    background-color: tomato; }

.noticias {
  background-color: lightgray; }
  .noticias h2 {
    font-size: 1.2rem;
    color: #bdc3c7;
    background-color: black;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    height: 25px;
    padding-top: 6px; }
  .noticias h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Stardos Stencil', cursive;
    margin: 5px 0; }
  .noticias .fotoNoticia {
    margin-bottom: 10px;
    display: flex;
    justify-content: center; }
    .noticias .fotoNoticia img {
      max-width: 255px; }
  .noticias .colNoticia {
    margin: 10px 0;
    background-color: white; }
    .noticias .colNoticia p {
      color: black;
      text-align: justify;
      font-size: 0.8rem;
      padding: 0 5px 0; }

.card-body .card-text {
  font-size: 1.5rem;
  color: black; }

/* PAGINA PRODUCTOS */
#contieneProductos {
  background-color: white;
  margin: 6px; }
  #contieneProductos h2 {
    padding: 10px 0;
    color: #bdc3c7;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: black; }
  #contieneProductos table {
    border: 2px solid;
    border-color: black;
    background-color: lightgray; }
    #contieneProductos table th {
      font-family: 'Stardos Stencil', cursive;
      font-size: 1.1rem;
      border: solid 0.5px;
      padding-left: 2vw; }
    #contieneProductos table tr {
      font-family: 'Stardos Stencil', cursive;
      font-size: 1rem; }
    #contieneProductos table td {
      border: solid 0.5px;
      padding-left: 2vw; }

.estiloCarousel {
  width: 35vw;
  margin: 6px auto; }

/* PAGINA MARCAS */
#contieneMarcas {
  margin: 6px; }

.galeriaMarcas {
  padding: 0 25px 25px 25px;
  text-align: center;
  background-color: lightgray; }

#tituloMarcas h2 {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 1.2rem;
  color: #bdc3c7;
  background-color: black;
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
  text-transform: uppercase; }

#contieneLogos {
  margin-bottom: 40px; }

.logoMarcas {
  text-align: center;
  margin: 15px 0; }
  .logoMarcas img {
    margin: 5px 20px;
    width: 90px;
    height: auto; }

/* PAGINA EMPRESA */
#mainEmpresa {
  margin: 6px; }

#historia {
  background-color: lightgray; }
  #historia h2 {
    padding: 10px 0;
    color: #bdc3c7;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: black; }
  #historia #fotoHistoria {
    padding: 25px; }
  #historia #textoHistoria {
    font-size: 1.2rem;
    padding: 0 25px 20px 25px; }
    #historia #textoHistoria .textoBold {
      font-weight: bold; }

#ubicacion {
  background-color: lightgray; }
  #ubicacion h2 {
    padding: 10px 0;
    color: #bdc3c7;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: black; }
  #ubicacion #mapa {
    padding: 25px 25px 20px 25px;
    width: 100%;
    height: auto; }

/* PAGINA CONTACTO */
.formulario {
  width: auto;
  margin: 5px 40px;
  padding: 40px;
  font-size: 1rem;
  font-family: 'Stardos Stencil', cursive; }
  .formulario h2 {
    margin-bottom: 20px;
    padding: 10px 0;
    color: #bdc3c7;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: black; }
  .formulario button {
    background-color: tomato;
    color: white;
    width: 100%;
    margin: 3px auto; }
  .formulario textarea {
    width: 100%;
    margin: auto; }

/* MEDIA QUERIES */
/*---DISPLAY CHICO---*/
@media (min-width: 321px) and (max-width: 425px) {
  .logoTitulo h1 {
    font-size: 4.6vw;
    margin: 0 auto; }
  .logoTitulo #logo {
    width: 50px;
    height: 50px; } }

/*---DISPLAY INTERMEDIO---*/
@media (min-width: 576px) and (max-width: 767px) {
  .logoTitulo h1 {
    margin: 0 auto;
    padding-right: 90px;
    font-size: 3.0rem;
    text-align: center;
    text-shadow: 1px 1px 1px lightgrey; }
  .logoTitulo #logo {
    width: 80px;
    height: 80px; }
  /* PAGINA INDEX */
  .noticias {
    background-color: lightgray; }
    .noticias h2 {
      font-size: 1.4rem;
      color: #bdc3c7;
      background-color: black;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      height: 25px;
      padding-top: 6px; }
    .noticias h3 {
      font-size: 1.4rem;
      font-weight: bold;
      color: black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Stardos Stencil', cursive; }
    .noticias .fotoNoticia {
      margin-bottom: 10px;
      display: flex;
      justify-content: center; }
      .noticias .fotoNoticia img {
        max-width: 275px; }
    .noticias .colNoticia {
      margin-bottom: 10px;
      background-color: white; }
    .noticias p {
      color: black;
      text-align: justify;
      font-size: 1rem;
      padding: 0 5px 0; }
  .ofertas {
    background-color: black;
    margin: 3px;
    padding: 8px; }
    .ofertas h2 {
      color: #bdc3c7;
      font-size: 1.4rem;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase; }
    .ofertas p {
      text-align: justify; }
    .ofertas .boton-ofertas {
      color: white;
      background-color: tomato; }
  /* PAGINA PRODUCTOS */
  #contieneProductos {
    background-color: white;
    margin: 6px; }
    #contieneProductos h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 1.4rem;
      background-color: black; }
    #contieneProductos table {
      border: 2px solid;
      border-color: black;
      background-color: lightgray; }
      #contieneProductos table th {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.4rem;
        border: solid 0.5px; }
      #contieneProductos table tr {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.2rem; }
      #contieneProductos table td {
        border: solid 0.5px; }
  .estiloCarousel {
    width: 30vw;
    margin: 6px auto; }
  /* PAGINA EMPRESA */
  #mainEmpresa {
    margin: 6px; }
  #historia {
    background-color: lightgray; }
    #historia h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.1rem;
      background-color: black; }
    #historia #fotoHistoria {
      padding: 25px; }
    #historia #textoHistoria {
      font-size: 1.5rem;
      padding: 0 25px 20px 25px; }
      #historia #textoHistoria .textoBold {
        font-weight: bold; }
  #ubicacion {
    background-color: lightgray; }
    #ubicacion h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.1rem;
      background-color: black; }
    #ubicacion #mapa {
      padding: 25px 25px 20px 25px;
      width: 600px;
      height: 451px; }
  /* PAGINA CONTACTO */
  .formulario {
    width: auto;
    margin: 5px 40px;
    padding: 60px;
    font-size: 1.1rem;
    font-family: 'Stardos Stencil', cursive; }
    .formulario h2 {
      margin-bottom: 20px;
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.1rem;
      background-color: black; }
    .formulario button {
      background-color: tomato;
      color: white;
      width: 120px;
      margin: 3px auto;
      font-size: 1rem; }
    .formulario textarea {
      width: 100%;
      margin: auto; } }

/*---DISPLAY GRANDE---*/
@media (min-width: 768px) and (max-width: 1154px) {
  header .logoTitulo h1 {
    margin: 0 auto;
    padding-right: 110px;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 1px 1px 1px lightgrey; }
  header .logoTitulo #logo {
    width: 100px;
    height: 100px; }
  header nav {
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    background-color: black; }
    header nav ul li.nav-item {
      font-size: 1.8rem;
      padding: 0 20px; }
      header nav ul li.nav-item a:hover {
        background-color: red; }
  footer .wsp {
    height: 15px;
    width: 15px; }
  footer p {
    font-size: 1rem; }
  /* PAGINA INDEX */
  .ofertas {
    padding: 8px; }
    .ofertas h2 {
      color: #bdc3c7;
      font-size: 2.1rem; }
      .ofertas h2:hover {
        color: firebrick;
        font-weight: bold; }
    .ofertas p {
      color: white;
      text-align: justify; }
  .noticias {
    background-color: lightgray; }
    .noticias h2 {
      font-size: 2.1rem;
      color: #bdc3c7;
      background-color: black;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      height: 35px;
      padding: 6px 0; }
      .noticias h2:hover {
        color: firebrick;
        font-weight: bold; }
    .noticias h3 {
      font-size: 1.4rem;
      font-weight: bold;
      color: black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Stardos Stencil', cursive; }
    .noticias .fotoNoticia {
      margin: 0 15px 10px 0;
      display: flex;
      justify-content: center;
      float: left; }
      .noticias .fotoNoticia img {
        max-width: 285px; }
    .noticias .colNoticia {
      margin: 10px 0;
      background-color: white; }
      .noticias .colNoticia p {
        color: black;
        text-align: justify;
        font-size: 1rem;
        padding: 0 5px 0; }
  /* PAGINA PRODUCTOS */
  #contieneProductos {
    background-color: white;
    margin: 6px; }
    #contieneProductos h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.1rem;
      background-color: black; }
    #contieneProductos table {
      border: 2px solid;
      border-color: black;
      background-color: lightgray; }
      #contieneProductos table th {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.8rem;
        border: solid 0.5px; }
      #contieneProductos table tr {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.5rem; }
      #contieneProductos table td {
        border: solid 0.5px; }
  .estiloCarousel {
    width: 30vw;
    margin: 6px auto; }
  /* PAGINA MARCAS */
  #contieneMarcas {
    margin: 6px; }
  .galeriaMarcas {
    padding: 25px;
    text-align: center;
    background-color: lightgray; }
  #tituloMarcas h2 {
    padding: 10px 0;
    font-size: 2.1rem;
    color: #bdc3c7;
    background-color: black;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase; }
  .logoMarcas img {
    margin: 5px 20px;
    width: 150px;
    height: auto; }
  /* PAGINA EMPRESA */
  #mainEmpresa {
    margin: 6px; }
  #historia {
    background-color: lightgray; }
    #historia h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.8rem;
      background-color: black; }
    #historia #fotoHistoria {
      padding: 25px; }
    #historia #textoHistoria {
      font-size: 1.8rem;
      padding: 0 25px 20px 25px; }
      #historia #textoHistoria .textoBold {
        font-weight: bold; }
  #ubicacion {
    background-color: lightgray; }
    #ubicacion h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.8rem;
      background-color: black; }
    #ubicacion #mapa {
      padding: 25px 25px 20px 25px;
      width: 600px;
      height: 451px; }
  /* PAGINA CONTACTO */
  .formulario {
    width: auto;
    margin: 5px 40px;
    padding: 60px;
    font-size: 1.5rem;
    font-family: 'Stardos Stencil', cursive; }
    .formulario h2 {
      margin-bottom: 20px;
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.8rem;
      background-color: black; }
    .formulario button {
      background-color: tomato;
      color: white;
      width: 140px;
      margin: 3px auto;
      font-size: 1.2rem; }
    .formulario textarea {
      width: 100%;
      margin: auto; } }

/*---DISPLAY EXTRA LARGE---*/
@media (min-width: 1155px) {
  header .logoTitulo h1 {
    margin: 0 auto;
    padding-right: 160px;
    font-size: 4.5rem;
    text-shadow: 1px 1px 1px lightgrey; }
  header .logoTitulo #logo {
    width: 150px;
    height: 150px; }
  header nav {
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    background-color: black; }
    header nav ul li.nav-item {
      font-size: 2.5rem;
      padding: 0 20px; }
      header nav ul li.nav-item a:hover {
        background-color: red; }
  footer .wsp {
    height: 25px;
    width: 25px; }
  footer p {
    font-size: 1.5rem; }
  /* PAGINA INDEX */
  .ofertas {
    border: 2px solid black;
    background-color: black;
    text-align: justify;
    padding: 8px; }
    .ofertas h2 {
      color: #bdc3c7;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 5px;
      padding-bottom: 5px;
      transition: scale 1000ms; }
      .ofertas h2:hover {
        color: firebrick;
        font-weight: bold; }
  .noticias {
    background-color: lightgray; }
    .noticias h2 {
      font-size: 3rem;
      color: #bdc3c7;
      background-color: black;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      height: 45px;
      padding: 6px 0; }
      .noticias h2:hover {
        color: firebrick;
        font-weight: bold; }
    .noticias h3 {
      font-size: 2rem;
      font-weight: bold;
      color: black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Stardos Stencil', cursive; }
    .noticias .fotoNoticia {
      margin-bottom: 0;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      float: left; }
      .noticias .fotoNoticia img {
        max-width: 285px; }
    .noticias .colNoticia {
      margin: 10px 0;
      padding-bottom: 10px;
      background-color: white; }
      .noticias .colNoticia p {
        color: black;
        text-align: justify;
        font-size: 1.5rem;
        padding: 0 5px 0; }
  /* PAGINA PRODUCTOS */
  #contieneProductos {
    background-color: white;
    margin: 6px; }
    #contieneProductos h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 3rem;
      background-color: black; }
    #contieneProductos table {
      border: 2px solid;
      border-color: black;
      background-color: lightgray; }
      #contieneProductos table th {
        font-family: 'Stardos Stencil', cursive;
        font-size: 2rem;
        border: solid 0.5px; }
      #contieneProductos table tr {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.8rem; }
      #contieneProductos table td {
        border: solid 0.5px; }
  .estiloCarousel {
    width: 30vw;
    margin: 6px auto; }
  /* PAGINA MARCAS */
  #contieneMarcas {
    margin: 6px; }
  .galeriaMarcas {
    padding: 0 25px 25px 25px;
    text-align: center;
    background-color: lightgray; }
  #tituloMarcas h2 {
    padding: 10px 0;
    font-size: 2.8rem;
    color: #bdc3c7;
    background-color: black;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase; }
  .logoMarcas img {
    margin: 5px 20px;
    width: 150px;
    height: auto; }
  /* PAGINA EMPRESA */
  #mainEmpresa {
    margin: 6px; }
  #historia {
    background-color: lightgray; }
    #historia h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.8rem;
      background-color: black; }
    #historia #fotoHistoria {
      padding: 25px; }
    #historia #textoHistoria {
      font-size: 1.8rem;
      padding: 0 25px 20px 25px; }
      #historia #textoHistoria .textoBold {
        font-weight: bold; }
  #ubicacion {
    background-color: lightgray; }
    #ubicacion h2 {
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      font-size: 2.8rem;
      background-color: black; }
    #ubicacion #mapa {
      padding: 25px 25px 20px 25px;
      width: 600px;
      height: 451px; }
  /* PAGINA CONTACTO */
  .formulario {
    width: auto;
    margin: 5px 40px;
    padding: 60px;
    font-size: 1.5rem;
    font-family: 'Stardos Stencil', cursive; }
    .formulario h2 {
      margin-bottom: 20px;
      padding: 10px 0;
      color: #bdc3c7;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      background-color: black; }
    .formulario button {
      background-color: tomato;
      color: white;
      width: 140px;
      margin: 3px auto;
      font-size: 1.2rem; }
    .formulario textarea {
      width: 100%;
      margin: auto; } }
