/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* ENCABEZADO */
header {
  /* background-image: url(../multimedia/dark-honeycomb.png); */
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.logoTitulo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logoTitulo img {
    margin: 10px 0 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .logoTitulo h1 {
    font-family: 'Stardos Stencil', cursive;
    color: #bdc3c7;
    text-transform: uppercase;
    text-align: center;
    margin: 0 15%;
    text-shadow: 1px 1px 1px lightgrey;
    font-size: 2.8rem; }

.menu {
  margin: 0; }
  .menu li {
    font-family: 'Stardos Stencil', cursive; }
  .menu li:hover ul {
    display: block;
    background-color: black;
    text-align: left; }

nav {
  text-align: center;
  background-color: black; }
  nav ul {
    font-size: 2rem; }
    nav ul li {
      display: inline-block;
      padding: 0 20px;
      position: relative; }
      nav ul li a {
        text-decoration: none;
        color: #bdc3c7; }
      nav ul li a:hover {
        background-color: red;
        color: white; }

.subMenu {
  position: absolute;
  display: none; }
  .subMenu li {
    display: block; }

/* FOOTER */
footer {
  font-size: 1.2vw;
  color: white;
  background-color: dimgray;
  height: 35px; }
  footer p {
    display: inline-block;
    width: 12%;
    text-align: center; }
  footer a {
    display: inline-block;
    margin-top: 5px; }

.wsp {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  background-color: #25d366;
  font-size: 20px;
  border-radius: 100px;
  margin-bottom: 5px;
  text-align: center; }

/* PAGINA INDEX */
.contieneImagen {
  padding: 0; }

.ofertas {
  background-color: black;
  margin: 3px;
  padding: 8px; }
  .ofertas h2 {
    color: #bdc3c7;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase; }
  .ofertas p {
    text-align: justify; }

.noticias {
  background-color: lightgray;
  text-align: left;
  text-transform: capitalize;
  margin: 3px;
  padding: 15px; }
  .noticias h3 {
    color: black;
    text-align: left; }
  .noticias p {
    color: black;
    text-align: justify;
    font-size: 1.1vw; }

.card-body .card-text {
  font-size: 1.5rem;
  color: black; }

/* PAGINA PRODUCTOS */
section h2 {
  margin: 10px 0; }

/* TABLA */
table {
  border: 2px solid;
  border-color: black;
  background-color: lightgray; }

th {
  background-color: black;
  color: black;
  border: 1px solid; }

.estiloCarousel {
  width: 400px;
  margin: auto; }

/* PAGINA MARCAS */
.galeriaMarcas {
  padding: 25px 25px;
  text-align: center;
  background-color: lightgray; }
  .galeriaMarcas h2 {
    margin-bottom: 20px; }

.contieneLogos {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.logoMarcas {
  text-align: center;
  margin: 10px 50px; }
  .logoMarcas img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    margin: 0 20px; }

.multimedia {
  text-align: center; }

/* PAGINA EMPRESA */
.gridMainEmpresa {
  display: grid;
  grid-template-areas: "historia fundadores" "local local";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 300px 400px; }

.historia {
  grid-area: historia;
  border: 2px solid black;
  background-color: lightgray;
  margin: 20px 10px;
  padding: 0 10px;
  font-size: 1.5rem; }

.fundadores {
  grid-area: fundadores;
  border: 2px solid black;
  background-color: lightgray;
  margin: 20px 10px;
  padding: 0 10px; }

.local {
  grid-area: local;
  border: 2px solid black;
  background-color: lightgray;
  margin: 20px 10px;
  padding: 0 10px; }

/* PAGINA CONTACTO */
.formulario {
  width: auto;
  margin: 50px;
  padding: 50px; }
  .formulario h2 {
    margin-bottom: 20px; }
  .formulario button {
    background-color: blueviolet; }

.textoFormulario {
  font-size: 1.5rem; }

/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
  .logoTitulo h1 {
    margin: 0 15%;
    font-size: 3.5rem;
    text-align: center; }
  .ofertas {
    padding: 8px; }
    .ofertas h2 {
      color: #bdc3c7;
      font-size: 2.8rem; }
    .ofertas p {
      color: white;
      text-align: justify; } }

@media only screen and (min-width: 1155px) {
  .logoTitulo h1 {
    margin: 0 15%;
    font-size: 4.5rem; }
  .ofertas {
    border: 2px solid black;
    background-color: black;
    text-align: justify;
    padding: 8px; }
    .ofertas h2 {
      color: #bdc3c7;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 5px;
      padding-bottom: 5px;
      transition: scale 1000ms; }
  .ofertas h2:hover {
    transform: scale(1.1, 1.1);
    color: firebrick;
    font-weight: bold; }
  .noticias {
    text-align: justify;
    padding: 8px;
    border: 2px solid black; } }
