/* PAGINA CONTACTO */

.formulario{
    width: auto;
    margin: 50px;
    padding: 50px;
    h2{
        margin-bottom: 20px;
    }
    button{
        background-color: blueviolet;
    }
}

.textoFormulario{
    font-size: 1.5rem;
}
