/* PAGINA EMPRESA */

#historia{
    background-color: lightgray;
    margin: 10px 6px;
    padding: 0 10px;
        h2{
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 1.2rem;
            background-color: black;
        }

}

#fundadores{
    background-color: lightgray;
    margin: 10px 6px;
    padding: 0 10px;
    h2{
        color: #bdc3c7;
        text-align: center;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
        font-size: 1.2rem;
        background-color: black;
    }
}

#local{
    background-color: lightgray;
    margin: 10px 6px;
    padding: 0 10px;
    h2{
        color: #bdc3c7;
        text-align: center;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
        font-size: 1.2rem;
        background-color: black;
    }
}
