/* PAGINA EMPRESA */
#mainEmpresa{
    margin: 6px;
}
#historia{
    background-color: lightgray;
        h2{
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 1.2rem;
            background-color: black;
        }
        #fotoHistoria{
            padding: 25px;
        }
        #textoHistoria{
            font-size: 1.2rem;
            padding: 0 25px 20px 25px;
                .textoBold{
                    font-weight: bold;
                }
        }
}
#ubicacion{
    background-color: lightgray;
        h2{
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 1.2rem;
            background-color: black;
        }
        #mapa{
            padding: 25px 25px 20px 25px;
            width: 100%;
            height: auto;
        }
}
