/* PAGINA INDEX */

.contieneImagen{
    padding: 0;
}

.ofertas{
    background-color: lightslategray;
    margin: 3px;
    padding: 8px;
    h2{
        color: firebrick;
        font-size: 3.5rem;
        text-align: center;
    }
    p{
        color: white;
        text-align:justify;
    }
}

.noticias{
    background-color: lightgray;
    text-align: left;
    margin: 3px;
    padding: 8px;
    h3{
        color: black;
        text-align: left;
    }
    p{
        color: white;
        text-align:justify;
    }
}

.card-body .card-text{
    font-size: 1.5rem;
    color: black;
}
