/* PAGINA MARCAS */
#contieneMarcas{
    margin: 6px;
}
.galeriaMarcas{
    padding: 0 25px 25px 25px;
    text-align: center;
    background-color: lightgray;
}
#tituloMarcas{
    h2{
    margin: 0;
    padding: 10px 0 5px;
    font-size: 1.2rem;
    color: #bdc3c7;
    background-color: black;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
}
}
#contieneLogos{
    margin-bottom: 40px;
}
.logoMarcas{
    text-align: center;
    margin: 15px 0;
    img{
        margin: 5px 20px;
        width: 90px;
        height: auto;
    }
}