/*MEDIA QUERIES*/
@media only screen and (min-width: 768px){
    .logoTitulo h1{
        margin: 0 10%;
    }
    .ofertas{
        background-color: lightslategray;
        padding: 8px;
        h2{
            color: black;
            font-size: 3rem; 
        }
        p{
            color: white;
            text-align:justify;
        }
    }
}

@media only screen and (min-width: 1024px){
    .logoTitulo h1{
        margin: 0 15%;
    }

    .ofertas, .noticias{
        border: 2px solid black;
        background-color: lightgray;
        text-align: justify;
        padding: 8px;
        h2{
            color: black;
            font-size: 2.8rem;
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-bottom: 5px;
            transition: scale 1000ms;
        }
    }

    .ofertas h2:hover{
        transform: scale(1.1,1.1);
        color: firebrick;
        font-weight: bold;
    }

    
    .noticias{
        text-align: justify;
        padding: 8px;
        border: 2px solid black;
    }

}
