/* MEDIA QUERIES */

/*---DISPLAY CHICO---*/
@media (min-width: 321px) and (max-width: 425px) {
    .logoTitulo{
        h1{
            font-size: 4.6vw;
            margin: 0 auto;
        }
        #logo{
            width: 50px;
            height: 50px;
        }
    } 
}

/*---DISPLAY INTERMEDIO---*/
@media (min-width: 576px) and (max-width: 767px) {
    .logoTitulo{
        h1{
            margin: 0 auto;
            padding-right: 90px;
            font-size: 3.0rem;
            text-align: center;
            text-shadow: 1px 1px 1px lightgrey;
        }
        #logo{
            width: 80px;
            height: 80px;
        }
    }
    /* PAGINA INDEX */
    .noticias{
        background-color: lightgray;
    
        h2{
            font-size: 1.4rem;
            color: #bdc3c7;
            background-color: black;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            height: 25px;
            padding-top: 6px;
        }
        h3{
            font-size: 1.4rem;
            font-weight: bold;
            color: black;
            text-align: center;
            text-transform: capitalize;
            font-family: 'Stardos Stencil', cursive;
        }
        .fotoNoticia{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            img{
                max-width: 275px;
            }
        }
        .colNoticia{
            margin-bottom: 10px;
            background-color: white;
        }
        p{
            color: black;
            text-align:justify;
            font-size: 1rem;
            padding: 0 5px 0;
        }
    }
    .ofertas{
        background-color: black;
        margin: 3px;
        padding: 8px;
        h2{
            color: #bdc3c7;
            font-size: 1.4rem;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
        }
        p{
            text-align:justify;
        }
        .boton-ofertas{
            color: white;
            background-color: tomato;
        }
    }
    /* PAGINA PRODUCTOS */
    #contieneProductos{
        background-color: white;
        margin: 6px;
        h2{
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 1.4rem;
            background-color: black;
        }
        table{
            border: 2px solid;
            border-color: black;
            background-color: lightgray;
            th{
                font-family: 'Stardos Stencil', cursive;
                font-size: 1.4rem;
                border: solid 0.5px;
            }
            tr{
                font-family: 'Stardos Stencil', cursive;
                font-size: 1.2rem;
            }
            td{
                border: solid 0.5px;
            }
        }
    }
    .estiloCarousel{
        width: 30vw;
        margin: 6px auto;
    }
    /* PAGINA EMPRESA */
    #mainEmpresa{
        margin: 6px;
    }
    #historia{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.1rem;
                background-color: black;
            }
            #fotoHistoria{
                padding: 25px;
            }
            #textoHistoria{
                font-size: 1.5rem;
                padding: 0 25px 20px 25px;
                    .textoBold{
                        font-weight: bold;
                    }
            }
    }
    #ubicacion{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.1rem;
                background-color: black;
            }
            #mapa{
                padding: 25px 25px 20px 25px;
                width: 600px;
                height: 451px;
            }
    }
    /* PAGINA CONTACTO */
    .formulario{
        width: auto;
        margin: 5px 40px;
        padding: 60px;
        font-size: 1.1rem;
        font-family: 'Stardos Stencil', cursive;
        h2{
            margin-bottom: 20px;
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            text-transform: uppercase;
            font-size: 2.1rem;
            background-color: black;
        }
        button{
            background-color: tomato;
            color: white;
            width: 120px;
            margin: 3px auto;
            font-size: 1rem;
        }
        textarea{
            width: 100%;
            margin: auto;
        }
    }
}

/*---DISPLAY GRANDE---*/
@media (min-width: 768px) and (max-width: 1154px) {
    header{
        .logoTitulo{
            h1{
                margin: 0 auto;
                padding-right: 110px;
                font-size: 3.5rem;
                text-align: center;
                text-shadow: 1px 1px 1px lightgrey;
            }
            #logo{
                width: 100px;
                height: 100px;
            }
        } 
        nav{
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            background-color: black;
            ul{
                li.nav-item{
                    font-size: 1.8rem;
                    padding: 0 20px;
                        a:hover{
                            background-color: red;
                        }
                }
            }
        }
    }

    footer{
        .wsp{
            height: 15px;
            width: 15px;
        }
        p{
            font-size: 1rem;
        }
    }
    /* PAGINA INDEX */
    .ofertas{
            padding: 8px;
        h2{
            color: #bdc3c7;
            font-size: 2.1rem;
            &:hover{
                color: firebrick;
                font-weight: bold;
            }
        }
        p{
            color: white;
            text-align:justify;
        }
    }
    .noticias{
        background-color: lightgray;
    
        h2{
            font-size: 2.1rem;
            color: #bdc3c7;
            background-color: black;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            height: 35px;
            padding: 6px 0;
            &:hover{
                color: firebrick;
                font-weight: bold;
            }
        }
        h3{
            font-size: 1.4rem;
            font-weight: bold;
            color: black;
            text-align: center;
            text-transform: capitalize;
            font-family: 'Stardos Stencil', cursive;
        }
        .fotoNoticia{
            margin: 0 15px 10px 0;
            display: flex;
            justify-content: center;
            float: left;
            img{
                max-width: 285px;
            }
        }
        .colNoticia{
            margin: 10px 0;
            background-color: white;
            p{
                color: black;
                text-align:justify;
                font-size: 1rem;
                padding: 0 5px 0;
            }
        }
    }
    /* PAGINA PRODUCTOS */
    #contieneProductos{
        background-color: white;
        margin: 6px;
        h2{
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 2.1rem;
            background-color: black;
        }
        table{
            border: 2px solid;
            border-color: black;
            background-color: lightgray;
            th{
                font-family: 'Stardos Stencil', cursive;
                font-size: 1.8rem;
                border: solid 0.5px;
            }
            tr{
                font-family: 'Stardos Stencil', cursive;
                font-size: 1.5rem;
            }
            td{
                border: solid 0.5px;
            }
        }
    }
    .estiloCarousel{
        width: 30vw;
        margin: 6px auto;
    }
    /* PAGINA MARCAS */
    #contieneMarcas{
        margin: 6px;
    }
    .galeriaMarcas{
        padding: 25px;
        text-align: center;
        background-color: lightgray;
    }
    #tituloMarcas{
        h2{
        padding: 10px 0;
        font-size: 2.1rem;
        color: #bdc3c7;
        background-color: black;
        text-align: center;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
    }
    }
    .logoMarcas{
        img{
            margin: 5px 20px;
            width: 150px;
            height: auto;
        }
    }
    /* PAGINA EMPRESA */
    #mainEmpresa{
        margin: 6px;
    }
    #historia{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.8rem;
                background-color: black;
            }
            #fotoHistoria{
                padding: 25px;
            }
            #textoHistoria{
                font-size: 1.8rem;
                padding: 0 25px 20px 25px;
                    .textoBold{
                        font-weight: bold;
                    }
            }
    }
    #ubicacion{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.8rem;
                background-color: black;
            }
            #mapa{
                padding: 25px 25px 20px 25px;
                width: 600px;
                height: 451px;
            }
    }
    /* PAGINA CONTACTO */
    .formulario{
        width: auto;
        margin: 5px 40px;
        padding: 60px;
        font-size: 1.5rem;
        font-family: 'Stardos Stencil', cursive;
        h2{
            margin-bottom: 20px;
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            text-transform: uppercase;
            font-size: 2.8rem;
            background-color: black;
        }
        button{
            background-color: tomato;
            color: white;
            width: 140px;
            margin: 3px auto;
            font-size: 1.2rem;
        }
        textarea{
            width: 100%;
            margin: auto;
        }
    }
}

/*---DISPLAY EXTRA LARGE---*/
@media (min-width: 1155px) {
    header{
        .logoTitulo{
            h1{
                margin: 0 auto;
                padding-right: 160px;
                font-size: 4.5rem;
                text-shadow: 1px 1px 1px lightgrey;
            }
            #logo{
                width: 150px;
                height: 150px;
            }
        }
        nav{
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            background-color: black;
            ul{
                li.nav-item{
                    font-size: 2.5rem;
                    padding: 0 20px;
                        a:hover{
                            background-color: red;
                        }
                }
            }
        }
    }
    footer{
        position: relative;
        .wsp{
            position: absolute;
            bottom: 5px;
            right: 10px;
            height: 25px;
            width: 25px;
        }
        p{
            font-size: 1.5rem;
        }
    }
    /* PAGINA INDEX */
    .ofertas{
        border: 2px solid black;
        background-color: black;
        text-align: justify;
        padding: 8px;
        h2{
            color: #bdc3c7;
            font-size: 3rem;
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-bottom: 5px;
            transition: scale 1000ms;
        }
    }
    .noticias{
        background-color: lightgray;
        h2{
            font-size: 3rem;
            color: #bdc3c7;
            background-color: black;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            height: 45px;
            padding: 6px 0;
        }
        h3{
            font-size: 2rem;
            font-weight: bold;
            color: black;
            text-align: center;
            text-transform: capitalize;
            font-family: 'Stardos Stencil', cursive;
        }
        .fotoNoticia{
            margin-bottom: 0;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            float: left;
            img{
                max-width: 285px;
            }
        }
        .colNoticia{
            margin: 10px 0;
            padding-bottom: 10px;
            background-color: white;
            p{
                color: black;
                text-align:justify;
                font-size: 1.5rem;
                padding: 0 5px 0;
            }
        }
    }
    /* PAGINA PRODUCTOS */
    #contieneProductos{
        background-color: white;
        margin: 6px;
        h2{
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            font-family: 'Stardos Stencil', cursive;
            text-transform: uppercase;
            font-size: 3rem;
            background-color: black;
        }
        table{
            border: 2px solid;
            border-color: black;
            background-color: lightgray;
            th{
                font-family: 'Stardos Stencil', cursive;
                font-size: 2rem;
                border: solid 0.5px;
            }
            tr{
                font-family: 'Stardos Stencil', cursive;
                font-size: 1.8rem;
            }
            td{
                border: solid 0.5px;
            }
        }
    }
    .estiloCarousel{
        width: 30vw;
        margin: 6px auto;
    }
    /* PAGINA MARCAS */
    #contieneMarcas{
        margin: 6px;
    }
    .galeriaMarcas{
        padding: 0 25px 25px 25px;
        text-align: center;
        background-color: lightgray;
    }
    #tituloMarcas{
        h2{
        padding: 10px 0;
        font-size: 2.8rem;
        color: #bdc3c7;
        background-color: black;
        text-align: center;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
    }
    }
    .logoMarcas{
        img{
            margin: 5px 20px;
            width: 150px;
            height: auto;
        }
    }
    /* PAGINA EMPRESA */
    #mainEmpresa{
        margin: 6px;
    }
    #historia{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.8rem;
                background-color: black;
            }
            #fotoHistoria{
                padding: 25px;
            }
            #textoHistoria{
                font-size: 1.8rem;
                padding: 0 25px 20px 25px;
                    .textoBold{
                        font-weight: bold;
                    }
            }
    }
    #ubicacion{
        background-color: lightgray;
            h2{
                padding: 10px 0;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Stardos Stencil', cursive;
                text-transform: uppercase;
                font-size: 2.8rem;
                background-color: black;
            }
            #mapa{
                padding: 25px 25px 20px 25px;
                width: 600px;
                height: 451px;
            }
    }
    /* PAGINA CONTACTO */
    .formulario{
        width: auto;
        margin: 5px 40px;
        padding: 60px;
        font-size: 1.5rem;
        font-family: 'Stardos Stencil', cursive;
        h2{
            margin-bottom: 20px;
            padding: 10px 0;
            color: #bdc3c7;
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            background-color: black;
        }
        button{
            background-color: tomato;
            color: white;
            width: 140px;
            margin: 3px auto;
            font-size: 1.2rem;
        }
        textarea{
            width: 100%;
            margin: auto;
        }
    }
}
