/* PAGINA PRODUCTOS */


/* TABLA */
table{
    border: 2px solid;
    border-color: black;
    background-color: lightgray;
}

th{
    background-color:black;
    color: black;
    border: 1px solid;
}

.estiloCarousel{
    width: 400px;
    margin: auto;
}
