/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

/* ENCABEZADO */
header{
    /* background-image: url(../multimedia/dark-honeycomb.png); */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .logoTitulo{
        display:flex;
        justify-content: flex-start;
        align-items: center;
            h1{
                font-family: 'Stardos Stencil', cursive;
                color: #bdc3c7;
                text-transform: uppercase;
                text-align: center;
                margin: 0 auto;
                font-size: 4.5vw;
            }
            #logo{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 10px 0 0 10px;
            }
    }
    .navbar-toggler{
        margin-left: 10px;
    }
}
/* FOOTER */
footer{
    color: white;
    background-color: dimgray;
    height: 35px;
    p{
        font-size: 0.8rem;
        display: inline-block;
        width: 20%;
        text-align: center;
        margin: 5px 5px 0;
    }
    a{
        display: inline-block;
        margin-top: 5px; 
    }
    .wsp{
        height: 10px;
        width: 10px;
    }
}


@import "index";

@import "productos";

@import "marcas";

@import "empresa";

@import "contacto";

@import "mediaquery";
